sudo: false
language: ruby
rvm:
  - '2.0'
  - '2.1'
  - '2.2'
  - '2.3'
  - '2.4'
  - ruby-head
before_install: gem install bundler -v 1.16.0
install: "bundle install --jobs 8"
script:
  - bundle exec rake
  - bundle exec rubocop
deploy:
  provider: rubygems
  on:
    tags: true
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
branches:
  only:
    - master
